* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
}



body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: hsl(0, 100%, 74%);
    background-image: url('./images/bg-intro-desktop.png');
}



.container{
 
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin-left: 10%;
    
}



.title{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    

}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }